.header {
    text-align: center;
    background-color: rgba(83, 83, 87, 0.24);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ccc;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
h2, h3{
    margin-top: -5px;
}
img {
    width: 100px;
}
.cover {
    margin:10px;
    width:250px;
    box-shadow: 10px 10px 5px #ccc;
}
.add{
    text-align: center;
}
.basic_table{
    width: 100%;
    table-layout: fixed;
}
.basic_table td:nth-child(1){
    width: 300px
}
.basic_table td:nth-child(2){
    width: 60%
}
.basic_table td:nth-child(3){
    text-align: center;
}
.form_table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    table-layout: fixed;
}
form{
    text-align: center;
}
form h2 {
    font-size: 20px;
}