{% extends "parent.html" %}
{% block content %}
<div class = 'add'>
    <a href = "{{url_for('add')}}"><img src="{{url_for('static', filename = 'book.jpg')}}"></a><br>
    <h2>Dodaj pozycję</h2>
</div>
    {% for instance in books %}
    <table class = "basic_table">
        <tr>
            <td>
                <img class = 'cover', src ='/static/covers/{{instance.cover}}'>
            </td>
            <td> 
                <object align="right">
                <form method="POST" action="{{url_for('delete')}}">
                    <input type="hidden" name = "book_id" value = {{instance.id}}>
                    <button type="submit" title="Usuń pozycję" class="close">&times;</button>
                </form>
                </object>  
            <div class = description>
                <p>Tytuł: {{instance.title}}</p>
                <p>Autor: {% for author in instance.author %}{{author.name}} {{author.surname}} {% endfor %}</p>
                <p>Rok wydania: {{instance.release_year}}</p>
                <p>Gatunek: {{instance.genre}}</p>
                <p>Opis książki: {{instance.description}}</p>   
                {% if instance.readed == True %}
                    <p>Recenzja: {{instance.reviev}}</p>
                    <p>Ocena: {{instance.rate}}</p>
                {% endif %}
                {% if instance.status_id[0].avaliable == True %}
                    <p>Dostępność: Na półce</p>
                {% else %}
                    <p>Dostępnosć: Wypożyczona</p>
                    <p>Data wypożyczenia: {{ instance.status_id[0].date_of_hire }}</p>
                    <p>Data oddania: {{ instance.status_id[0].date_of_handover }}</p>
                {% endif %}
            </div>
            </td> 
            <td>
                <a href = "{{url_for('reviev', book_id = instance.id)}}"><img src="{{url_for('static', filename = 'book1.jpg')}}"></a>
                <h3>Edytuj pozycję</h3>
            </td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}
